:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
body {
    margin: 20px;
    font-family: var(--bs-font-sans-serif);
}
form {
    max-width: 800px;
}
.button {
    margin-top: 10px;
}
.student-item {
    margin: -5px;
}
.student-item p {
    display: flex;
    margin: 0;
}
.student-item h6 {
    display: flex;
    width: 200px;
    margin: 0;
    padding: 0;
}
.student-item ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.student-item div{
    display: flex;
    width: 400px;
}
.group {
    width: 154px;
}
.student-output-data{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.input-error-message {
    color: red;
    height: 20px;
    position: absolute;
    left: 520px;
}

.hidden {
    display: none
}
form#search {
    margin-top: 10px;
}
.invalid-feedback {
    display: block
}